volumes:
  mongo-data: {}

services:
  mqtt:
    image: eclipse-mosquitto:2
    container_name: contaxio_mqtt
    ports:
      - "1883:1883" # ESP32 and Backend
      - "9001:9001" # WebSockets
    volumes:
      - ./mosquitto/config:/mosquitto/config
      - ./mosquitto/data:/mosquitto/data
      - ./mosquitto/log:/mosquitto/log
  backend:
    build: ./app
    container_name: contaxio_backend
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app
    depends_on:
      - mqtt
    environment:
      - MQTT_BROKER=mqtt

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - "mongo-data:/data/db"

  mongo-express:
    image: mongo-express
    ports:
      - "8081:8081"
    environment:
      - ME_CONFIG_MONGODB_SERVER=mongo
    depends_on:
      - mongo